*{
    font-family: "Inter";
    margin: 0px;
}

#divmenusuperior{
    background-color: #303030;
    padding: 50px;
}

#titulomenusuperior{
    margin-top: 156px;
    margin-left: 62px;
    color: #fff;
    font-size: 60px;
    font-weight: 600;
    font-style: semibold;
}

#textmenusuperior{
    font-size: 20px;
    margin: 20px 0px 55px 62px;
    color: #fff;
    font-weight: 500;
}

#divinfo{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    background-color: #f9f9f9;
    padding: 50px;
    
}

.titulos{
    margin-left: 155px;
    margin-top: 15px;
    font-weight: 600;
    font-size: 40px;
    
}

.text{
    margin-left: 155px;
    font-weight: 500;
    font-size: 20px;
}


#divmenufotos{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#titulo-menu-fotos{
    font-weight: 500;
    font-size: 40px;
    margin-top: 270px;
    margin-left: 105px;
}

#text-menu-fotos{
    font-weight: 300;
    font-size: 24px;
    margin-left: 105px;
}

#foto{
    margin: 80px 0px 50px 50px;
}

#divcadastro{
    background-color: #303030;
    padding: 100px;

}

#titulocadastro{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    
}

#formulario{
    text-align: center;
}

input{
    width: 508px;
    height: 72px;
    background-color: #fff;
    border: 0px;
    border-radius: 10px;
    padding-left: 10px;
}
button{
    background-color: #C07212;
    height: 72px;
    width: 286px;
    color: #fff;
    border: 0px;
    border-radius: 10px;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 30px;
    cursor: pointer;
}

button:hover{
    background-color: #eea853;
    color: white;
    transform: translateY(-7px);
    transition-duration: 0.5s;
    box-shadow: 0px 5px 10px 10px #75460c;
}

@media (max-width: 768px){
    #divmenusuperior{
        text-align: center;
        margin-left: -80px;
        
}

    #divinfo{
        display: block;
        margin-left: -150px;
        
    }

    #divmenufotos{
        display: block;
        align-items: center;
        margin: -250px 0px 50px -80px;
        
    }

    #foto{
        width: 450px;
        margin-left: 107px;
        
    }

    input{
        max-width: 100%;
    }
}
